html {
    font-size: 62.5%;
}

.row .col {
    float: left;
    padding: 0 1.5rem;
}
.row .col-3 {
    float: left;
    width: 25%;
    padding: 0 1.5rem;
}

.row .col-4 {
    float: left;
    width: 33.33%;
    padding: 0 1.5rem;
}

.row .col-5 {
    float: left;
    width: 50%;
    padding: 0 1.5rem;
}

.row .col-9 {
    float: left;
    width: 75%;
    padding: 0 1.5rem;
}

.clear-both {
    clear: both;
}

.pdf-logo-holder {
    width: 15rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.pdf-logo-holder>img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

header.pdf-header {
    border-bottom: 0.15rem solid #7a7a7a;
}

header.pdf-header h3.logo-slogan {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #999903;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
    margin: 1rem 0;
}

header.pdf-header h3.title {
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #999903;
    text-align: left;
    font-weight: 400;
    font-family: "Roboto-Regular", Sans-serif;
}

header.pdf-header p.paragraph {
    text-align: left;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
    line-height: 3.7rem;
}

header.pdf-page-header {
    margin-top: 1.8rem;
}

header.pdf-page-header h3.title-1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #999903;
    text-align: left;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

header.pdf-page-header h3.title-2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto-Bold", Sans-serif;
}

header.pdf-page-header h3.title-3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #999903;
    text-align: right;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

footer.pdf-page-footer {
    margin-top: 1.8rem;
}

footer.pdf-page-footer h3.title {
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #7a7a7a;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

section.pdf-invoice .order-details-card {
    margin-bottom: 1.5rem;
}

section.pdf-invoice .order-details-card h3.card-title {
    font-size: 2rem;
    line-height: 2.6rem;
    color: #7a7a7a;
    text-align: left;
    font-weight: 700;
    font-family: "Roboto-Bold", Sans-serif;
}

section.pdf-invoice .order-details-card .card-items {
    padding: 1rem 0;
}

section.pdf-invoice .order-details-card .card-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.15rem dashed #7a7a7a;
    padding: 1rem 0;
}

section.pdf-invoice .order-details-card .card-items .item span {
    text-align: left;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
}

section.pdf-invoice .additional-card {
    margin: 1.5rem 0;
}

section.pdf-invoice .additional-card h3.card-title {
    font-size: 2rem;
    line-height: 2.6rem;
    color: #7a7a7a;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto-Bold", Sans-serif;
    margin-bottom: 1.5rem;
}

section.pdf-invoice .additional-card .card-box {
    max-width: 80%;
    border: 0.15rem solid #7a7a7a;
    padding: 1rem;
    margin: 0 auto;
}

section.pdf-invoice .additional-card .card-box h3.title-1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: left;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

section.pdf-invoice .additional-card .card-box h3.title-2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

section.pdf-invoice .additional-card .card-box h3.title-3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: right;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

section.pdf-invoice p.notes {
    text-align: center;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
}
section.pdf-message-collection .message-counter-head {
    border-top: 0.15rem solid #7a7a7a;
    padding-top: 1rem;
    margin-top: 2.5rem;
}

section.pdf-message-collection .message-counter-head p.text-1 {
    text-align: left;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
}

section.pdf-message-collection .message-counter-head p.text-2 {
    text-align: right;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
}

section.pdf-message-collection .message-body h3.title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: left;
    font-weight: 500;
    font-family: "Roboto-Medium", Sans-serif;
}

section.pdf-message-collection .message-body h3.sub-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #7a7a7a;
    text-align: left;
    font-weight: 400;
    font-family: "Roboto-Regular", Sans-serif;
}

section.pdf-message-collection .message-body .content {
    text-align: left;
    color: #7a7a7a;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
}